<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.iamywang.mapchats">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PathRecordActivity"
                  android:label="@string/title_activity_path"
                  android:theme="@style/AppTheme">
        </activity>

        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="30f299abf5c53f01992e7b3c372ede4e"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".UserInfoActivity"
                android:label="@string/title_activity_user"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".RegisterActivity"
                android:label="@string/title_activity_reg"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:label="@string/title_activity_about"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".FeedBackActivity"
                android:label="@string/title_activity_feed"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".HisrotyLocationActivity"
                android:label="@string/title_activity_gps"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".FriendsChatActivity"
                android:label="@string/title_activity_chat"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".FriendsListActivity"
                android:label="@string/title_activity_friend"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".ChatRoomActivity"
                android:label="@string/title_activity_chat"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".MapDemoActivity"
                android:label="@string/title_activity_map"
                android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>